{% extends 'base.html.twig' %}

{% block title %}Modifier Produit — NEXA{% endblock %}

{% block body %}

<!-- ================= HEADER ================= -->
<div class="page-header">
    <div>
        <h1>Modifier le produit</h1>
        <p>Mettre à jour les informations du produit</p>
    </div>

    <a href="{{ path('app_produit_index') }}" class="btn">
        ← Retour à la liste
    </a>
</div>

<div class="form-shell">
    <div class="form-card">
        {{ include('produit/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <div class="form-actions" style="justify-content:flex-start">
            {{ include('produit/_delete_form.html.twig') }}
        </div>

    </div>
</div>

{% endblock %}
