{% extends 'layout/base.html.twig' %}

{% block title %}Modifier Feature{% endblock %}

{% block body %}

<div class="form-container">

  <!-- ================= PAGE HEADER ================= -->
  <div class="page-header">
    <div>
      <h1 class="page-title">Modifier Feature</h1>
      <p class="desc">Modifier les informations de la fonctionnalité</p>
    </div>

    <!-- RETOUR (same style as Package) -->
    <a href="{{ path('app_feature_index') }}" class="btn">
      Retour
    </a>
  </div>

  <!-- ================= FORM ================= -->
  {{ include('feature/_form.html.twig', {
    button_label: 'Mettre à jour'
  }) }}

  

</div>

{% endblock %}
