{% extends 'layout/base.html.twig' %}

{% block title %}Supprimer Package{% endblock %}

{% block body %}

<div class="delete-page">
    <h1 class="page-title">Supprimer Package</h1>

    <form method="post"
          action="{{ path('app_package_delete', {'id': package.id}) }}"
          onsubmit="return confirm('Supprimer ce package ?');">

        <input type="hidden" name="_token"
               value="{{ csrf_token('delete' ~ package.id) }}">

        <div class="delete-actions">
            <a href="{{ path('app_package_index') }}" class="btn secondary">
                Annuler
            </a>

            <button class="btn danger">
                Supprimer
            </button>
        </div>
    </form>
</div>

{% endblock %}
