<div class="page-header">
    <div>
        <h1>{% block page_title %}{% endblock %}</h1>
        <p class="desc">{% block page_desc %}{% endblock %}</p>
    </div>

    <div>
        {% block page_action %}{% endblock %}
    </div>
</div>